*{
    color:white;
    
}

#google{
     height: 1000px; 
    
   background-color: black; 
    
    
}

button{
    background-color: chocolate;
    
    
}
#logo{
    color:whitesmoke;
    background-color: chocolate;
    
    
}

a{
    margin-right: 190px;
}

h1 {
    color:blue;
}